/SalarioVentana/nbproject/private/
/SalarioVentana/build/
/Ejercicios/nbproject/private/
/Ejercicios/build/
/Suma2/nbproject/private/
/Suma2/build/
/CalculadoraEstandar/nbproject/private/
/CalculadoraEstandar/build/
